{% extends 'layout.html' %}
{% block page %}
<div class="twitter-container">
    <div class="tweet-box">
        <div class="tw-edit" id="tw-text" contenteditable="true" onkeydown="check_limit()"></div>
        <div class="count" id="tw-count">140</div>
        <br/>
        <button class="tw-button" id="tw-post" onclick="post_tweet()">Tweet</button>
        <button class="tw-button" id="tw-refresh" onclick="get_tweets()">Refresh</button>
        <div class="loader"></div>
    </div>
    <div class="tweet-feed" id="tw-feed">
        {% for t in tweets %}
            <div class="tweet">{{t}}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
