<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=800px, initial-scale=1">
    <title>PyTw</title>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="/static/pytw.js"></script>
    <link rel="stylesheet" href="static/pytw.css"/>
</head>
<body>
    <div class="app">
        <div class="header">
            <a class="logo" href={{ logo_link }}>{{ logo_message }}</a>
        </div>

        {% block page %} {% endblock %}
    </div>
</body>
</html>
